<mat-toolbar>
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="categoriaMenu">Categorie</button>
        <button mat-menu-item>Amministrazione</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="appMenu">
        Menu
    </button>

    <mat-menu #categoriaMenu="matMenu">
        <button mat-menu-item (click)="categoriaSelezionata = null">
            Tutte
        </button>
        <button mat-menu-item *ngFor="let cat of categorie" (click)="categoriaSelezionata = cat">{{cat}}</button>
    </mat-menu>
    <span>Mio Negozio</span>
    <span style="flex: 11 auto"></span>
    <button mat-raised-button [matBadge]="carrello.numeroArticoli" routerLink="/dettaglio-carrello">Carrello</button>
</mat-toolbar>

<mat-card *ngFor="let prodotto of getProdottiPaginati()">
    <mat-card-header>
        <mat-card-title>
            {{prodotto.nome}}
        </mat-card-title>
        <mat-card-subtitle>
            {{prodotto.prezzo | currency: 'EUR'}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        {{prodotto.descrizione}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="carrello.aggiungiAlCarrello(prodotto)">Aggiungi</button>
    </mat-card-actions>
</mat-card>

<mat-paginator [length]="prodotti.length" 
               [pageSize]="3" 
               [pageSizeOptions]="[3,5,10]"
               (page)="gestisciPaginazione($event)">
</mat-paginator>